<%= simple_form_for @flat do |f| %>

  <%= f.input :address, placeholder: 'Paris...', input_html: { class: 'custom-input' } %>
  <%= f.input :description, placeholder: 'fancy and comfy...', input_html: { class: 'custom-input' } %>

  <div class="form-group">
    <%= f.label :options %><br>
    <div>
    <%= f.check_box :wifi %>
    <%= f.label :wifi, class: 'checkbox-inline wifi' %>

    <%= f.check_box :TV %>
    <%= f.label :TV, class: 'checkbox-inline TV' %>

    <%= f.check_box :parking %>
    <%= f.label :parking, class: 'checkbox-inline parking' %>

    <%= f.check_box :air_conditioner %>
    <%= f.label :air_conditioner, class: 'checkbox-inline conditioner' %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-flat' %>
<% end %>
