<%= simple_form_for @flat do |f| %>

  <%= f.input :name, placeholder: "Zoe's Flat...", input_html: { class: 'custom-input' } %>
  <%= f.input :address, placeholder: 'Bd Raspail, Paris VII ...', input_html: { class: 'custom-input' } %>
  <%= f.input :description, placeholder: 'Stunning views, perfect location for a weekend in the capital...', input_html: { class: 'custom-input' } %>

<div>

  <%= f.file_field :image %>

  <div class="form-group">
    <%= f.label :options %><br>
    <div>
    <%= f.check_box :wifi %>
    <%= f.label :wifi, class: 'checkbox-inline wifi' %>

    <%= f.check_box :TV %>
    <%= f.label :TV, class: 'checkbox-inline TV' %>

    <%= f.check_box :parking %>
    <%= f.label :parking, class: 'checkbox-inline parking' %>

    <%= f.check_box :air_conditioner %>
    <%= f.label :air_conditioner, class: 'checkbox-inline conditioner' %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-flat' %>

<% end %>
<br>
  <%= link_to "Back to the home page", root_path,class: "btn btn-flat" %>
