<div class="bgimg">

  <h1>Looking for a Flat ?</h1>
  <h3> search a location here :</h3>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <%= form_with url: flats_path, method: :get, class: "d-flex flex-column align-items-center" do %>
          <%= text_field_tag :address,
                params[:address],
                class: "form-control form-control-lg",
                placeholder: "Type a location"
                %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary btn-lg mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @address.present? %>
<h3>Results for "<%= (@address) %>":</h3>
<% end %>

<div class="grid-container ">
  <% @flats.each do |flat|%>
  <div class="img-card-item row justify-content-center">
  <%= image_tag flat.image, class: "img" if flat.image.attached? %>
        <div class="img-item-container ">
 <b><%= link_to  flat.name,  flat_path(flat)%> </b> : <i><u> <%= flat.address  %> </i></u> ; <%= flat.description  %>
  </div>
  </div>
  <% end  %>
</div>