<div class="flex-container">
<div class="flex-item1">
<%= link_to "Create a flat", new_flat_path, class: "btn btn-flat" %>
</div>
<div class="flex-item2">
<%= link_to "Search the place & date" , new_flat_path, class: "btn btn-flat"%>
</div>
<div class="flex-item3">
<%= link_to "My booking", bookings_path,class: "btn btn-flat" %>
</div>
</div>


<h1>Flats</h1>

<div class="img-container">
  <% @flats.each do |flat|%>
  <div class="img-card-item">
  <%= image_tag flat.image, class: "img" if flat.image.attached? %>
        <div class="img-item-container">
  <b><%= link_to  flat.address,  flat_path(flat)%> </b>: <%= flat.description  %>
  </div>
  </div>
  <% end  %>
</div>
