<div class="banner">
  <h1>Looking for a nice place to stay ?</h1>
  <h3> Type your dream location here :</h3>
  <div class="container-home">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <%= form_with url: flats_path, method: :get, class: "d-flex flex-column align-items-center" do %>
          <%= text_field_tag :address,
                params[:address],
                class: "form-control form-control-lg",
                placeholder: "Type a location"
                %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary btn-lg mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cursor"></div>
  <div class="cursor2"></div>
</div>



<div class = "searchresults">
  <% if @address.present? %>
    <h3>Here are the flats available around "<%= (@address) %>":</h3>
  <% else %>
    <h3 class="disappear-on-search">All our flats available are displayed here : </h3>
  <% end %>

   <div class="grid-container">
    <% @flats.each do |flat| %>
      <div class="img-card-item row justify-content-center">
        <%= image_tag flat.image, class: "img" if flat.image.attached? %>
        <div class="img-item-container">
          <b><%= link_to flat.name, flat_path(flat) %> :</b> <i><u><%= flat.address %></i></u>; <%= flat.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>
