<h1>My Bookings:</h1>
<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= link_to booking.flat.name, booking_path(booking) %></h5>
            <p class="card-text"><%= booking.flat.address %></p>
            <p class="card-text">Arrival: <%= booking.arrival_date.strftime('%d/%m/%Y') %></p>
            <p class="card-text">Departure: <%= booking.departure_date.strftime('%d/%m/%Y') %></p>
            <% days_remaining = (booking.arrival_date - Date.today).to_i %>
            <% if days_remaining > 0 %>
              <% message = "Only #{days_remaining} day(s) left until your arrival" %>
              <%= message %>
            <% else %>
              <% message = "Your arrival is imminent" %>
              <%= message %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Back to homepage", flats_path, class: "btn btn-primary ml-2" %>
