<div class="booking-detail">
<h1>Booking Details</h1>
<a href="<%= bookings_path %>">
  <i class="fa-solid fa-arrow-left fa-2x"></i>
</a>
<div class="card">
  <div class="card-body">
    <h3 class="card-title"><%= @booking.flat.name %></h3>
    <%= link_to "Edit my booking", edit_booking_path(@booking), class: "btn btn-warning" %>
    <%= link_to "Delete my booking", booking_path(@booking),  data: { turbo_confirm: "Are you sure you want to delete this booking?", turbo_method: :delete }, class: "btn btn-danger" %>
    <p class="card-text"><%= @booking.flat.address %></p>
    <p class="card-text">Arrival: <%= @booking.arrival_date.strftime('%d/%m/%Y') %></p>
    <p class="card-text">Departure: <%= @booking.departure_date.strftime('%d/%m/%Y') %></p>
    <p class="card-text">Owner : <%= @booking.flat.user.first_name %> <%= @booking.flat.user.last_name %></p>
    <p class="card-text">Total Price: 153,25 €</p>
    <% days_remaining = (@booking.arrival_date - Date.today).to_i %>
    <% message = "Only #{days_remaining} day(s) left until your arrival" %>
    <% if @booking.status == true %>
      <%= message %>
      <p class="card-text green">Accepted</p>
    <% elsif @booking.status == false %>
      <p class="card-text red">Denied</p>
    <% else %>
      <em class="card-text">Booking requested</em>
    <% end %>
   <%= link_to "Contact the owner", "mailto:#{@booking.flat.user.email}", class: "btn btn-primary" %>
  </div>
</div>
<<<<<<< HEAD

<%= link_to "Contact the owner", "mailto:#{@booking.flat.user.email}", class: 'btn btn-flat btn-booking'%>
<%= link_to "Back to My Bookings", bookings_path, class: 'btn btn-flat btn-booking' %>

</div>
=======
>>>>>>> 7e2d56da7ceee532a8b391d14f1c35e3d25f2e55
